.address{
    position: relative;
    top: 8em;
    right: 5em;
}
.address-input{
    position: relative;
    top: 3em;
    height: 150px;   
    
}
.font{
    height: 145px;
    position: relative;
    top: 0.3em;
}
.name{
    margin-left: 4em;
    margin-top: 3em;
}
.main{
    position: relative;
    bottom: 2.5em;
}
.login-main{
    position: relative;
    left:7em;
}
.head{
    margin-top: 3em;
}
.cards{
    margin-top: 2em;
    position: relative;
    left: 5em;
}
.card{
    margin: 20px 0px;
}
